'scopeName': 'source.pug.frontmatter'
'name': 'Pug (FrontMatter)'
'fileTypes': [
  'pug'
]
'firstLineMatch': '^---$'
'patterns': [
  {
    'begin': '---'
    'end': '---'
    'patterns': [
      {
        'include': 'source.yaml'
      }
    ]
  }
  {
    'include': 'source.pug'
  }
]
